@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

:root {
	--main-fg: #eee;
	--main-bg: #233;
	--main-overlay-bg: #122;
	--main-accent: #B44833;
	--muted-gray: #666;
	--font-monospace: monospace;
	--header-height: 5em;
	--footer-height: 13em;
	--debug-mode: 0;
	--debug-outline: calc(2px * var(--debug-mode)) solid red;
}

body {
	font-size: 21px;
	background-color: var(--main-bg);
	color: var(--main-fg);
	margin: 0;
	padding-top: var(--header-height);
	width: 100%;
}

a {
	text-decoration: none;
	color: var(--main-fg);
}

header {
	border: var(--debug-outline);

	position: fixed;
	top: 0;
	right: 50%;
	transform: translate(50%);
	z-index: 10;

	display: flex;
	flex-direction: row;
	align-items: center;
	/* justify-content: space-between; */

	height: var(--header-height);
	padding-left: 2em;
	padding-right: 2em;
	width: calc(100% - 4em);

	background-color: var(--main-overlay-bg);
	box-shadow: -1px 11px 42px 4px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -1px 11px 42px 4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 11px 42px 4px rgba(0, 0, 0, 0.75);
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

header nav {
	outline: var(--debug-outline);
	margin-left: auto;
}

header nav ul {
	/* outline: var(--debug-outline); */
	display: flex;
	flex-direction: row;
}

header nav ul li {
	list-style-type: none;
}

header nav ul li:not(:first-child) {
	margin-left: 2em;
}

header nav ul li a {
	transition: font-size 150ms ease-in-out;
	font-style: italic;
	opacity: 0.7;
	font-family: "Sixtyfour Convergence", sans-serif;
}

.current-page a {
	font-size: 1.4em;
	border-bottom: 1.5px solid var(--muted-gray);
	opacity: 1;
}

header nav ul li a:hover {
	border-bottom: 1.5px solid var(--muted-gray);
	opacity: 1;
	font-size: 1.4em;
	transition: font-size 150ms ease-in-out;
}

#site-name {
	font-size: 1.4em;
	opacity: 1;
	font-style: italic;
	font-family: "Sixtyfour Convergence", sans-serif;
	margin-left: 2em;
}



.svg-color {
	filter: invert(33%) sepia(22%) saturate(2361%) hue-rotate(321deg) brightness(101%) contrast(95%);
}

main {
	min-height: calc(99vh - var(--header-height) - var(--footer-height));
}

footer {
	outline: var(--debug-outline);

	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;

	position: relative;
	width: 100%;
	height: var(--footer-height);

	background-color: var(--main-overlay-bg);
	box-shadow: -1px -11px 42px 4px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow: -1px -11px 42px 4px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px -11px 42px 4px rgba(0, 0, 0, 0.75);
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	padding-bottom: 3em;
}

footer #links {
	outline: var(--debug-outline);
	display: flex;
	flex-direction: row;
	width: 70%;
}

footer #socials {
	outline: var(--debug-outline);
	display: flex;
	width: 50%;
}

footer #socials ul {
	outline: var(--debug-outline);
	width: 5em;
	width: 100%;
	height: 5em;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5em 1.5em;
	flex-wrap: wrap;
}

footer #socials ul li {
	list-style-type: none;
}

footer #socials ul li img {
	width: 2em;
}

footer nav ul {
	outline: var(--debug-outline);
	width: 5em;
	width: 100%;
	height: 5em;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5em 1.5em;
	flex-wrap: wrap;
}

footer nav ul li {
	list-style-type: none;
}

footer nav ul li a {
	font-size: 0.9em;
	color: var(--main-accent);
	font-weight: bolder;
	background-color: #0F1F1F;
	padding: 0.3em;
	padding-left: 0.8em;
	padding-right: 0.8em;
	border-radius: 25px;
}

footer #data {
	font-size: 0.7em;
	outline: var(--debug-outline);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 1em;
	width: 60%;
}

footer #data p {
	opacity: 0.5;
}

footer #data p:hover {
	opacity: 1;
}
